body {
    background-image: url("./images/chom.png");
    background-repeat: no-repeat;
    background-size: 2560px 1440px;
}

#starting {
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
    height: fit-content;
    font-size: 900%;
    padding: 10px;
    position: fixed; 
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    animation: rainbow 7s infinite alternate, slide 15s infinite;
}

@keyframes slide {
    0%,100% {
        top: 0%;
        left: 0%;
    }

    25% {
        top: 75%;
        left: 62.5%;
    }

    50% {
        top: 75%;
        left: 0%;
    }

    75% {
        top: 0%;
        left: 62.5%;
    }
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}